body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/backgrounds/cacti-7162265.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas {
    background-color: black;
}

#startPic {
    width: 720px;
    height: 480px;
    position: absolute;
}

#startBTN {
    position: absolute;
    bottom: 165px;
    width: 70px;
}

#tutorialContainer {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 136, 255, 0);
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}


#musicContainer {
    right: 10px;
    top: 50px;
    position: absolute;
    display: flex;
}

#volIMG {
    width: 30px;
    margin-right: 20px;
}

#tutorialContainer span {
    margin: 20px;
}

#tutorialContainer h5 {
    margin-bottom: -10px;
}

#controlEmblemes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#controlEmblemes span {
    display: flex;
    align-items: center;
    justify-content: center;
}

#controlEmblemes img {
    margin-left: 10px;
}

#fullscreenBTN {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}

#handyControls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.handyControlBTN {
    width: 50px;
}

.icon {
    width: 20px;
    height: 20px;
    z-index: 2;
}

#startBTN:hover {
    position: absolute;
    bottom: 165px;
    width: 70px;
    cursor: pointer;
}

.startContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


@media screen and (max-width: 1010px) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('img/backgrounds/cacti-7162265.svg');
        background-repeat: no-repeat;
        background-size: 180%;
        background-attachment: fixed;
    }

    #canvas {
        width: 100vw;
        height: 100vh;
        max-height: 480px;
    }

    #startPic {
        width: 100%;
        height: 100vh;
        position: absolute;
        max-height: 480px;
    }

    #handyControlBTN{
        z-index: 10;
    }

    #tutorialContainer{
        display: none;
    }

}

@media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('img/backgrounds/cacti-7162265.svg');
        background-repeat: no-repeat;
        background-size: 300%;
        background-attachment: fixed;
    }

    #canvas {
        width: 100vw;
        height: 100vh;
        max-height: 480px;
    }

    #startPic {
        width: 100%;
        height: 100%;
        max-height: 480px;
        position: absolute;
    }

    #tutorialContainer {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 136, 255, 0);
        z-index: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #tutorialContainer span {
        margin: 10px;
    }

    #tutorialContainer h5 {
        margin-bottom: -10px;
    }
}